body{
    background-color: #ffeedf;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.cards{
    flex-direction: row;
    flex-wrap: wrap;
    width: 290px;
    height: 416px;
    background-color: #fff;
    margin: 62px;
    padding: 27px;
}

.name{
    color: #33793f;
    font-size: 48px;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
}

.restaurant-name{
    color: #999;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.adress{
    color: #999;
    font-size: 24px;
    font-family: 'EB Garamond', serif;
    font-weight: normal;
}